.form-section {
    // border: solid 1px $color-var-1;
    padding: 2rem 4rem;

    @include phone-only{
        padding: 0;
    }

    &__title {
        font-size: 3rem;
        color: $color-var-2;
        padding-bottom: 5rem;

        @include phone-only {
            font-size: 1rem;
        }
    }
}