<div class="form-component-wrapper">
  <h2 class="form-component-wrapper__title">
    Para começarmos nosso relacionamento que tal nos dizer seu nome e onde você está
  </h2>
  <p class="form-component-wrapper__subtitle">*Não se preocupe, todos os seus dados serão bem guardados e protegidos
  </p>
  <figure class="form-component-wrapper__figure">
    <img src="../../../assets/images/icon-contact.svg" alt="" class="form-component-wrapper__img">
  </figure>
  <div *ngIf="isFormVisible">
    <form class="form-component-wrapper__contact" [formGroup]="enderecoForm" (ngSubmit)="salvarEndereco()">
      <mat-form-field class="span-4">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <div *ngIf="enderecoForm.get('nome')?.errors && enderecoForm.get('nome')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('nome')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field class="span-4">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro">
        <div *ngIf="enderecoForm.get('logradouro')?.errors && enderecoForm.get('logradouro')?.touched"
          class="text-danger">
          <span *ngIf="enderecoForm.get('logradouro')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" (input)="aplicarMascaraCep($event)">
        <div *ngIf="enderecoForm.get('cep')?.errors && enderecoForm.get('cep')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('cep')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field class="span-1">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento" (input)="aplicarMascaraComplemento($event)">
        <div *ngIf="enderecoForm.get('complemento')?.errors && enderecoForm.get('complemento')?.touched"
          class="text-danger">
          <span *ngIf="enderecoForm.get('complemento')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
        <div *ngIf="enderecoForm.get('bairro')?.errors && enderecoForm.get('bairro')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('bairro')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Localidade</mat-label>
        <input matInput formControlName="localidade">
        <div *ngIf="enderecoForm.get('localidade')?.errors && enderecoForm.get('localidade')?.touched"
          class="text-danger">
          <span *ngIf="enderecoForm.get('localidade')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field class="span-1">
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf">
        <div *ngIf="enderecoForm.get('uf')?.errors && enderecoForm.get('uf')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('uf')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field class="span-1">
        <mat-label>DDD</mat-label>
        <input matInput formControlName="ddd">
        <div *ngIf="enderecoForm.get('ddd')?.errors && enderecoForm.get('ddd')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('ddd')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field class="span-2">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone">
        <div *ngIf="enderecoForm.get('telefone')?.errors && enderecoForm.get('telefone')?.touched" class="text-danger">
          <span *ngIf="enderecoForm.get('telefone')?.errors?.['required']">O campo Nome é obrigatório.</span>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>GIA</mat-label>
        <input matInput formControlName="gia" [readonly]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>IBGE</mat-label>
        <input matInput formControlName="ibge" [readonly]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>SIAFI</mat-label>
        <input matInput formControlName="siafi" [readonly]="true">
      </mat-form-field>

      <button class="span-4 form-component-wrapper__button" mat-raised-button type="submit"
        (click)="salvarEndereco()">Enviar</button>

    </form>
  </div>
</div>

<div *ngIf="isConfirmationVisible">
  <h2>Confirmação do seus dados</h2>
  <div class="confirmation-data">
    <p>Nome: {{ endereco.nome }}</p>
    <p>CEP: {{ endereco.cep }}</p>
    <p>Logradouro: {{ endereco.logradouro }}</p>
    <p>Complemento: {{ endereco.complemento }}</p>
    <p>Bairro: {{ endereco.bairro }}</p>
    <p>Localidade: {{ endereco.localidade }}</p>
    <p>UF: {{ endereco.uf }}</p>
    <p>DDD: {{ endereco.ddd }}</p>
    <p>GIA: {{ endereco.gia }}</p>
    <p>IBGE: {{ endereco.ibge }}</p>
    <p>SIAFI: {{ endereco.siafi }}</p>
    <p>Telefone: {{ endereco.telefone }}</p>
  </div>


  <button class="btn-primary" (click)="voltarParaFormulario()">Voltar ao Formulário</button>
</div>